.volumeBar {
    position: relative;
    width: 350px;
    height: 24px;
    background-color: #ddd;
    margin-top: 8px;
    margin-bottom: 16px;
}

.volumeBar::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%);
    background-size: 20px 24px;
}

.volumeBarActive {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #212429;
}

.circleProgressWrap {
    position: relative;
    width: 94px;
    height: 94px;
}
.circleProgress {
    transform: rotate(-90deg);
    z-index: 10;
    cursor: pointer;
}
.frame,
.bar {
    fill: none;
}
.frame {
    stroke: #e6e6e6;
}
.bar {
    stroke: #03c75a;
    stroke-linecap: round;
}

.roundButton {
    @apply flex h-[82px] w-[82px] items-center justify-center rounded-full bg-accent1;
}
