.waveform-bg {
    width: 578px;
    height: 250px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    background:
        linear-gradient(to bottom, transparent 50px, #ced4da 50px) 0 0 / 100vw 51px repeat-y,
        linear-gradient(to right, transparent 47.5px, #ced4da 47.5px) 0 0 / 48.5px 100vh repeat-x;
}
